# Odoo Connection
ODOO_HOST=localhost
ODOO_PORT=8069
ODOO_DB=pfe_v1
ODOO_USER=admin
ODOO_PASSWORD=admin

# MCP Server
MCP_SERVER_HOST=0.0.0.0
MCP_SERVER_PORT=8010

# MCP Host
MCP_SERVER_URL=http://localhost:8001/mcp
OLLAMA_MODEL=ministral-3:3b
